<launch>
    <node pkg="joy_sub" type="joy_sub_node" name="joy_sub_node"/>
    <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_node" />
    <!-- <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard_node" output="screen"/> -->
    <node pkg="joy" type="joy_node" name="joy_node" />
</launch>